body {
    font-family: Arial, sans-serif;
    font-size: larger;
    color: #fff;
    background-color: rgba(37,220,89,0.664);
    margin: 0;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bgpic.jpg');
    background-size: cover;
    z-index: -1;
    opacity: 1;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.rounded-button {
    width: 320px;
    height: 60px;
    color: #fff;
    background: linear-gradient(135deg, #00ff55, #179d5a); 
    border: none; 
    border-radius: 50px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.9em;
    font-weight: 500;
    margin-left: 37px;
    transition: background 0.5s, transform 0.5s, box-shadow 0.5s; 
    position:static; 
    bottom: 0;
    overflow: hidden; 
    cursor: pointer; 
}
.capbutt {
    margin-top: 20px; 
}

.button-icon {
    width: 30px; 
    height: 30px; 
    vertical-align: middle; 
    margin-right: 10px; 
}

.rounded-button:hover {
    background: linear-gradient(135deg, #3ce794, #12c6f3); 
    color: whitesmoke; 
    transform: scale(1.05) translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.video-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}